In [1]:
import numpy as np
import pandas as pd
%precision 10

'%.10f'

In [4]:
loan_14=pd.read_csv('2014loan.csv',low_memory=False,skiprows=1)

In [5]:
loan_14['int_rate'] = loan_14['int_rate'].replace('%','',regex=True).astype('float')/100

In [6]:
loan_15=pd.read_csv('2015loan.csv',low_memory=False,skiprows=1)

In [7]:
loan_15['int_rate'] = loan_15['int_rate'].replace('%','',regex=True).astype('float')/100

In [8]:
loan_14.shape

(235631, 122)

In [9]:
loan_15.shape

(421097, 122)

In [10]:
total_loan=pd.concat([loan_14,loan_15])

In [11]:
total_loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,NaN,10400.0,10400.0,10400.0,36 months,0.0699,321.08,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,15000.0,15000.0,15000.0,60 months,0.1239,336.64,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,9600.0,9600.0,9600.0,36 months,0.1366,326.53,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,7650.0,7650.0,7650.0,36 months,0.1366,260.20,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,12800.0,12800.0,12800.0,60 months,0.1714,319.08,D,D4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
loan_14.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,NaN,10400.0,10400.0,10400.0,36 months,0.0699,321.08,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,15000.0,15000.0,15000.0,60 months,0.1239,336.64,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,9600.0,9600.0,9600.0,36 months,0.1366,326.53,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,7650.0,7650.0,7650.0,36 months,0.1366,260.20,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,12800.0,12800.0,12800.0,60 months,0.1714,319.08,D,D4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# What is the median loan amount?
np.nanmedian(total_loan['loan_amnt'])

13750.0000000000

In [14]:
Purposes=total_loan['purpose']

In [15]:
type(Purposes)

pandas.core.series.Series

In [16]:
total_loan['purpose'].value_counts()

debt_consolidation    393026
credit_card           157547
home_improvement       38338
other                  29575
major_purchase         11307
medical                 6269
small_business          5641
car                     5298
moving                  3748
vacation                3427
house                   2188
renewable_energy         347
wedding                   12
educational                1
Name: purpose, dtype: int64

In [17]:
# Each loan is categorized into a single purpose. What fraction of all loans are for the most common purpose?
total_loan['purpose'].value_counts()[0]/total_loan.shape[0]

0.5984608544

In [18]:
# Calculate the average interest rate across loans for each purpose. 
# What is the ratio of minimum average rate to the maximum average rate? (The ratio should be less than 1.)


g1=total_loan.groupby('purpose',as_index=False)['int_rate'].mean()

In [19]:
g1

               purpose  int_rate
0                  car  0.123104
1          credit_card  0.113349
2   debt_consolidation  0.134113
3          educational  0.115300
4     home_improvement  0.130515
5                house  0.177114
6       major_purchase  0.129120
7              medical  0.145449
8               moving  0.161131
9                other  0.148594
10    renewable_energy  0.164461
11      small_business  0.172751
12            vacation  0.142703
13             wedding  0.158467

In [20]:
0.113349/0.172751

0.6561409196

In [25]:
# What is the difference in the fraction of the loans with a 36-month term between 2014 and 2015?
loan_14['term'].value_counts()

 36 months    162570
 60 months     73059
Name: term, dtype: int64

In [26]:
loan_15['term'].value_counts()

 36 months    283173
 60 months    137922
Name: term, dtype: int64

In [27]:
dif=162570/loan_14.shape[0]-283173/loan_15.shape[0]
dif

0.0174696720

In [50]:
# We will consider all loans that are not in the 'Fully Paid', 'Current', 'In Grace Period' statuses to be in default. 
# Calculate the ratio of the time spent paying the loan, defined as the difference between the last payment date and the issue date, divided by the term of loan. 
# What is the standard deviation of this ratio for all the loans in default?

default=total_loan[(total_loan['loan_status']!='Fully Paid') & (total_loan['loan_status']!='Current') & (total_loan['loan_status']!='In Grace Period')]

In [32]:
total_loan['last_pymnt_d']=pd.to_datetime(total_loan['last_pymnt_d'])

In [33]:
total_loan['issue_d']=pd.to_datetime(total_loan['issue_d'])

In [53]:
default['term'] = default['term'].replace(' months','',regex=True).astype('float')*30

C:\Users\caesarliu\Anaconda3\envs\py35\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [56]:
np.std((default['last_pymnt_d']-default['issue_d'])/default['term'])

Timedelta('0 days 04:47:42.847731')

In [57]:
# What is the Pearson correlation coefficient between the total rate of return, 
# as figured from the total payments and the loan amount, and the interest rate? 
# Consider only loans that have reached the end of their term.

fully=total_loan[total_loan['loan_status']=='Fully Paid']

In [58]:
np.corrcoef(fully['total_pymnt']/fully['loan_amnt'],fully['int_rate'])

array([[ 1.          ,  0.5472635236],
       [ 0.5472635236,  1.          ]])

In [59]:
# Let's find a loan purpose that shows up abnormally often in one state.
# Call A the probability of a loan going to a specific purpose nationwide. 
# Call B the probability of a loan going to a specific purpose for each state. 
# Out of all (state, purpose) pairs with at least 10 loans, what is the highest ratio of B / A (i.e. the most surprising)?

total_loan['purpose'].value_counts()/total_loan.shape[0]

debt_consolidation    0.598461
credit_card           0.239897
home_improvement      0.058377
other                 0.045034
major_purchase        0.017217
medical               0.009546
small_business        0.008590
car                   0.008067
moving                0.005707
vacation              0.005218
house                 0.003332
renewable_energy      0.000528
wedding               0.000018
educational           0.000002
Name: purpose, dtype: float64

In [143]:
A=total_loan['purpose'].value_counts()/total_loan.shape[0]

In [168]:
B_unfiltered=total_loan.groupby('addr_state')['purpose'].value_counts()

In [169]:
B_filtered=B_unfiltered[B_unfiltered>10]

In [170]:
Counts=total_loan['addr_state'].value_counts()

In [171]:
STA=['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [172]:
MAX=[]
for state in STA:
    MAX.append(np.nanmax(((B_filtered[state]/Counts[state])/A).values))

In [173]:
max(MAX)

3.2727892426

In [175]:
# Group all loans by their sub-grade and calculate their average inerest rate and average default rate. 
# Build a linear model to predict the (average) default rate from the (average) interest rate. Find that sub-grade with the largest absolute deviation from this model. 
# What is the deviation of the actual default rate from the predicted value?



average_int=total_loan.groupby('sub_grade',as_index=False)['int_rate'].mean()

In [192]:
De=average_int['sub_grade']

In [210]:
default_rate=np.zeros(35)
for i,grade in enumerate(De):
    default_rate[i]=default['sub_grade'].value_counts()[grade]/total_loan['sub_grade'].value_counts()[grade]

In [212]:
default_rate=default_rate.reshape([35,1])

In [215]:

# build the linear model
from sklearn.linear_model import LinearRegression

lin_reg=LinearRegression()
lin_reg.fit(average_int['int_rate'].reshape([35,1]),default_rate)

C:\Users\caesarliu\Anaconda3\envs\py35\lib\site-packages\ipykernel\__main__.py:6: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [216]:
print('Predictions:\t', lin_reg.predict(average_int['int_rate'].reshape([35,1])))

Predictions:	 [[ 0.0037042725]
 [ 0.0174494416]
 [ 0.0290261742]
 [ 0.0363625446]
 [ 0.0495728792]
 [ 0.0581716941]
 [ 0.0768039789]
 [ 0.0926480085]
 [ 0.1089669796]
 [ 0.1203526409]
 [ 0.1314927595]
 [ 0.1401674506]
 [ 0.1517541361]
 [ 0.1627249726]
 [ 0.1747242403]
 [ 0.1902408531]
 [ 0.2055669656]
 [ 0.2156119235]
 [ 0.2263769927]
 [ 0.2350004211]
 [ 0.2442870959]
 [ 0.2527187715]
 [ 0.2647281646]
 [ 0.2801180676]
 [ 0.2997581876]
 [ 0.3194047797]
 [ 0.3353036344]
 [ 0.3488391005]
 [ 0.3613501531]
 [ 0.3737038026]
 [ 0.3825064777]
 [ 0.386333599 ]
 [ 0.3900112704]
 [ 0.3940837243]
 [ 0.3963115248]]

C:\Users\caesarliu\Anaconda3\envs\py35\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  if __name__ == '__main__':

In [219]:
deviation=abs(default_rate-lin_reg.predict(average_int['int_rate'].reshape([35,1])))

C:\Users\caesarliu\Anaconda3\envs\py35\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  if __name__ == '__main__':

In [221]:
np.argmax(deviation)

34

In [222]:
De[34]

'G5'

In [223]:
deviation[34]

array([ 0.0304874826])